* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

/*Navbar*/
nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(51, 51, 51, 0.55);
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}


#movie-add {
    background-color: #42B5EA;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/*End Navbar*/
.movies {
}



.row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.filter-sort {
    background-color: rgba(0, 0, 0, 0.55);
    max-width: 25%;
    margin: 1em;
    height: min-content;
    border-radius: 1em;
    display: flex;
    flex-flow: column;




    & form {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        & button{
            width: 100%;

            border-radius: .5em;
            border: none;
            margin: .5em .5em;
            padding: .5em;

        }

        & label, & input, & select {
            border-radius: .5em;
            text-align: center;
            width: 100%;
            margin: .5em .5em;

        }

        & select {
            min-height: 2em;
            width: 100%;
            flex-grow: 1;
            border: none;
        }

        .filter {
            padding: 0 .5em;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }


    }
    .sort-options{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;

        & p{
            width: 100%;
            text-align: center;
        }

        & button{
            flex-grow: 1;
            padding: .5em;
            margin: .5em .5em;
            border-radius: .5em;

            &:nth-child(4){
                width: 100%;
            }
        }

    }

}

#movie-list {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;

}

.movie-card {

    width: 100px;
    margin: .5em .5em 0;
    position: relative;

    .img-con {
        width: 100%;
        height: 150px;
        border-radius: 1em;
        overflow: hidden;

        & img {
            object-fit: fill;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }


    .mov-details {
        background-color: rgba(0, 0, 0, 0.06);
        display: none;
        flex-flow: row wrap;
        position: relative;
        top: 0;
        z-index: 1;
        width: 300px;
        left: calc(-300px / 3);
        margin: 1em 0 2em;

        align-content: space-evenly;
        border-radius: 1em;
        box-shadow: black 5px 5px 10px 0;

        & div:nth-child(1) {
            padding: .5em;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        & button {

            height: max-content;
            width: 20%;

            margin: 0 auto .5em;
            padding: .2em;

            &:hover {
                background-color: #e71616;
            }
        }

        & p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }


    &:hover {
        cursor: pointer;
        transition: all 400ms ease-in;
        transform: scale(120%);

        .mov-details {
            display: flex;
        }
    }
}

.star-rating {
    display: flex;
    flex-flow: row nowrap;
    /*flex-flow: column;*/
    color: gold;
    width: min-content;

    .star {
        width: min-content;
        font-size: .8rem;

        &:hover {
            color: #ffea00;
        }

        &:has(~ .selected-rating) {
            color: red;
        }

    }

    .selected-rating {
        &:hover {
            color: red
        }
    }
}

#loading-message {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c5aa75 url("../image/movieProjector.gif") no-repeat center center;
    z-index: 9999;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    /* Modal Content/Box */

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 1em;
        width: fit-content;
        height: fit-content;

        & h2 {
            text-align: center;
        }

        & form {
            display: flex;
            flex-direction: column;
            text-align: center;


            & label, & input {
                margin-top: .2em;
            }

            & textarea {
                height: 80px;
                width: 300px;
                resize: vertical;
            }

            .submit {
                background-color: red;
            }
        }

        .edit-movie {
            display: flex;
            flex-direction: column;
        }


    }

    /* The Close Button */

    .close {
        position: absolute;
        top: 0;
        right: 10px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
}



