*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#movie-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
}

.movie-card{
    min-width: 200px;
    width: 15%;
    background-color: grey;
    margin: 1em;
    position: relative;

    & img{
        width: 100%;

    }

    .mv-details{
        background-color: white;
        display: none;
        flex-flow: column;
        position: absolute;
        z-index: 1;

    }
    &:hover{
        .mv-details{
            display:flex;
        }
    }
}

#loading-message {
    position:fixed;
    width: 100%;
    height: 100vh;
    background: #c5aa75 url("../image/movieProjector.gif") no-repeat center center;
    z-index: 9999;
    display: none;
}